@use '../vars' as *;

.nav {
  height: 100%;

  padding-left: 10%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}

.nav-items > * {
  width: auto;
  display: block;

  font-size: $font-md;

  color: $nord-3;
  text-decoration: none;

  &:hover {
    color: $frost-3;
  }
}