doctype html
html

  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width")
    title Supercolbat : C O L D
    
    style
      include build/index.css

  body
    include pages/home.pug

    include pages/about.pug

    // include pages/projects.pug

    // include pages/blog.pug