doctype html
html

  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width")
    title Supercolbat - C O L D
    
    style
      include styles/index.css

  body
    div.home-page
      div.nav
        span.title Hi there!
        div.nav-items
          a(href="#about") About
          a(href="#projects") Projects
          a(href="#among-us") Among us

      div.name
        p JOEY
        p LENT

      // Controls for popup
      label.explain-toggle(for="explain") ?
      input#explain(type="checkbox")

      // Popup for explanation
      div.explain-popup
        div.content-wrapper
          div.header
            p What's this?
          div.content
            p This website is designed with NO Javascript whatsoever!
            p Check out the 
              a(href="https://github.com/Supercolbat/cold-supercolbat#readme" target="_blank") README