@use '../../vars' as *;

.name {
    position: absolute;
    top: 1rem;
    right: 18rem;

    font-size: $font-xlg;
    font-family: RubikMonoOne;

    p:first-of-type {
        position: absolute;
        top: 0;
    
        color: $frost-0;
    }
    
    p:last-of-type {
        position: absolute;
        top: -0.5rem;
        padding-left: 1.5rem;
    
        z-index: -1;
        
        writing-mode: vertical-lr;
        text-orientation: upright;
        
        color: $nord-3;
    }
}