$nord-darker: #262B35;
$nord-0: #2E3440;
$nord-1: #3B4252;
$nord-2: #434C5E;
$nord-3: #4C566A;

$frost-0: #5E81AC;
$frost-1: #81A1C1;
$frost-2: #88C0D0;
$frost-3: #8FBCBB;

$aurora-0: #BF616A;
$aurora-1: #D08770;
$aurora-2: #D08770;
$aurora-3: #A3BE8C;
$aurora-4: #B48EAD;