div#about
  div.nav
    span.title About
    p Hi! As you can probably tell, I’m Joey Lent, a developer of sorts. I create without a goal in mind. I have experience in designing bots, web/mobile development, and general scripting. I main Python, but I can also comfortably use... uh.
    | I’m hoping to learn C and Rust in the future as well as refine my Dart and Node.JS skills.
    | I also have a fair share of knowledge withover esoteric langauges (I use BrainF BTW!)
    | Outside of programming, I use Fedora Linux as my desktop and GrapheneOS on my mobile. I actively take measures to improve my digital privacy.