#explain {
  display: none;
}

.explain-toggle {
  position: absolute;

  width: 3rem;
  height: 3rem;

  bottom: 2rem;
  right: 2rem;

  font-size: $font-md;
  text-align: center;

  background-color: $frost-0;
  color: $nord-1;

  border: none;
  border-radius: 50%;

  cursor: pointer;
  user-select: none;
}

.explain-popup {
  // Visibilty state
  display: none;

  position: fixed;

  width: 20rem;
  height: 10rem;

  padding: 16px;

  bottom: 5rem;
  right: 6rem;

  background-color: $frost-0;

  border-radius: 25px;  

  .header * {
    display: inline-block;
    margin: 0;
  }

  .header p {
    font-size: $font-md;
    color: $nord-darker;
  }

  .content p {
    color: $nord-darker;
  }
}

#explain:checked + .explain-popup {
  display: block;
}