.nav {
  display: flex;
  flex-direction: vertical;
  justify-content: center;
}

.nav-items a {
  display: block;
  width: auto;

  font-size: $font-md;
  color: $nord-3;
  text-decoration: none;

  &:hover {
    color: $frost-3;
  }
}