@use 'vars' as *;

// Global styles to be applied to all pages
* {
  font-family: RubikOne;
}

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;

  // padding: 0% 10%;
  margin: 0;

  color: $snow-2;
  background-color: $nord-0;
}

a {
  color: $aurora-4;
}