@use 'vars' as *;
@use 'base';
@use 'home/explain.home';
@use 'home/name.home';
@use 'home/nav.home';

body {
  overflow: hidden;
}

.title {
  margin-top: 5rem;
    
  font-size: $font-lg;
  color: $frost-1;
}

.about-page {
  display: none;

  &:target {
    display: block;
  }
}