$nord-darker: #262B35;
$nord-0: #2E3440;
$nord-1: #3B4252;
$nord-2: #434C5E;
$nord-3: #4C566A;

$frost-0: #5E81AC;
$frost-1: #81A1C1;
$frost-2: #88C0D0;
$frost-3: #8FBCBB;

$aurora-0: #BF616A;
$aurora-1: #D08770;
$aurora-2: #D08770;
$aurora-3: #A3BE8C;
$aurora-4: #B48EAD;

$snow-0: #D8DEE9;
$snow-1: #E5E9F0;
$snow-2: #ECEFF4;

$font-xlg: 5rem;
$font-lg: 3rem;
$font-md: 2rem;
$font-sm: 1.5rem;

// Rubik Medium
@font-face {
  font-family: "Rubik";
  src: url("../assets/fonts/RubikMedium.ttf")   format("ttf"),
       url("../assets/fonts/RubikMedium.woff")  format("woff"),
       url("../assets/fonts/RubikMedium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  src: url("../assets/fonts/RubikMediumItalic.ttf")   format("ttf"),
       url("../assets/fonts/RubikMediumItalic.woff")  format("woff"),
       url("../assets/fonts/RubikMediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Rubik";
  src: url("../assets/fonts/RubikBold.ttf")   format("ttf"),
       url("../assets/fonts/RubikBold.woff")  format("woff"),
       url("../assets/fonts/RubikBold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  src: url("../assets/fonts/RubikBoldItalic.ttf")   format("ttf"),
       url("../assets/fonts/RubikBoldItalic.woff")  format("woff"),
       url("../assets/fonts/RubikBoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
}

// Rubik One
@font-face {
  font-family: "RubikOne";
  src: url("../assets/fonts/RubikOne.ttf")   format("ttf"),
       url("../assets/fonts/RubikOne.woff")  format("woff"),
       url("../assets/fonts/RubikOne.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

// Rubik Mono One

@font-face {
  font-family: "RubikMonoOne";
  src: url("../assets/fonts/RubikMonoOne.ttf")   format("ttf"),
       url("../assets/fonts/RubikMonoOne.woff")  format("woff"),
       url("../assets/fonts/RubikMonoOne.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}